
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .top{
      /* background-color: cyan; */
      height:300px;
  }
  .join{
      color: #16a085;
      /* background-color: chartreuse; */
      padding: 10px;
      width: 50%;
      margin: 50px 0px 10px 50px ;
      font-size: 40px; 
      font-family: 'Kanit', sans-serif;
  }
.secondline{
     color: #C4E538;
     /* background-color: blueviolet;  */
    margin: 10px 0px 20px 60px;
    font-size: 30px; 
}
.article1{
    color: gray;
   margin: 10px 0px 10px 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.article2{
    color: gray;
   margin: 20px 0px 0px 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.left{
    color: white;
    font-family: sans-serif;
    
    background-color: #16a085;
    /* border: tomato 3px solid; */
    float: left;
    /* padding: 1px 78px 1px 20px; */
    width: 50%;
    height: 360px;
}
.subs{
    color: rgb(255, 255, 255);
    /* background-color: darkslategray; */
    font-size: 25px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px;
   width: 50%;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 20px;
   

}
.dollar{
    color: rgb(227, 245, 245);
    /* background-color: darkorange; */
    font-size: 50px;
   font-weight: bolder;
   margin-left: 90px;
   margin-right: 0px;
    max-width: 100px;
    max-height: 60px;
    
}
.month{
    color: rgb(217, 243, 235);
    /* background: darkkhaki; */
   float: right;
    width: 20%;
    margin-right: 350px;
    margin-top: 30px;
    
   
}
.full{
    margin-left: 60px;
/* background-color: black; */
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    margin-left: 80px; 
    padding: 10px;
}

.sign{
    /* color: rgb(24, 0, 243); */
    background-color: rgb(89, 235, 76);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
   padding: 10px 120px;
   margin: 20px 90px ;
   /* margin-top: 30px;
   margin-left: 50px; */
   border: rgb(81, 228, 100) 4px outset;
   color: azure;
   border-radius: 6px;
   cursor: pointer;
}

/* Rght section */
.right{
    color: white;
    margin: 0px 0px 1px 0px ;
    font-family: sans-serif;

    background-color: #1abc9c;
    text-align: left;
    float: right;
   width: 50%;
   height: 360px;
    
}
 .sentance{ margin: 1px 0px 5px 0px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 1px 100px 0px 20px;
   /* background-color: blueviolet; */
   width: 50%;
   margin-left: 50px;
  
 }

.why{
    color: rgb(255, 255, 255);
    /* background-color: cadetblue; */
    margin: 50px 50px 20px 70px;
    font-weight: bolder;
    font-weight: 100px;
    padding-top: 20px 0px 5px 0px;
    text-decoration: underline;
    width: 50%;  
}
